h1 {
    text-align: center;
}

body {
    padding-left: 5%;
    padding-right: 5%;
    font-family: calibri;
}

.the-list {
    padding: 1%;
    border-radius: 1%;
}

.entry {
    display: flex;
    align-items: center;
    background-color: #E29D99;
    border-radius: 1%;
    color: #303030;
}

.entry a {
    color:#0267C1;
}

img {
    border-radius: 3%;
    vertical-align: middle;
    padding-right: 3%;
    width: 180px;
    height: 180px;
}
